{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<style>
.boxed {
  border: 2px solid black;
}
.boxedGreen {
  border: 2px solid black;background-color: #23A363;"
}
</style>

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
</Br>
<div class="boxedGreen" style="text-align: center; width:1000px;">

<h3 class="heading-large">
<font color="white">Debt Detail</font>
</h3>

</div>
</Br>
<div>
	<div id="boxGreen">

		</div>


</div>
</div>

    </div>
    <div>

    <ul class="list list-bullet">

</ul>
<div>
  <div class="grid-row">
    <div class="column-two-thirds">
</Br>
<div class="boxedGreen" style="text-align: center; width:1000px;">

<h3 class="heading-large">
<font color="white">Debt Advice</font>
</h3>
</div>
</Br>

</div>

    </div>
    <h1 class="heading-small">On Benefit</h1>
    <ul class="list list-bullet">
<li>1. How can I get more info and independent advice.</li>
<li>2. What if I can't afford deductions</li>
<li>3. What happens next</li>


      <h1 class="heading-small">Off Benefit</h1>

      <li>1. How did the debt occur. (inc SF). </li>
      <li>2. When did the debt occur (inc SF).</li>
      <li>3. Which benefit does this debt relate to (inc SF)?</li>
      <li>4. How much was the overpayment/loan for.</li>
      <li>5. Do I have a penalty</li>
      <li>4. 6. How much is my penalty</li>
      <li>7. Total Amount of Debt + Penalty.</li>
      <li>8. How many debts to I have altogether.</li>
      <li>9. How much to I owe altogether.</li>
      <li>11. How can I pay.</li>
      <li>12. How can I appeal</li>
      <li>13. When will my debt be cleared</li>
      <li>14. What us my current balance</li>
      <li>15. Which benefit does this debt relate to (inc SF)?</li>
      <li>16. How much was the overpayment/loan for.</li>

      <li>17. Consequences of not geting in touch</li>
  </ul>


  <div>
    <div class="grid-row">
      <div class="column-two-thirds">
  </Br>
  <div class="boxedGreen" style="text-align: center; width:1000px;">

  <h3 class="heading-large">
  <font color="white">Personal Data</font>
  </h3>
  </div>

</Br>
<ul class="list list-bullet">
<li>Name:  Joe Bloggs</li>
<li>Address line 1, </Br>Address line 2, </Br>Address line 3, </Br>Postcode</li>
<li>Phone No:</li>
<li>Email:  </li>
</ul>
</Br>
</Br>
</div>


    </div>

    <div>
      <div class="grid-row">
        <div class="column-two-thirds">
    </Br>
    <div class="boxedGreen" style="text-align: center; width:1000px;">

    <h3 class="heading-large">
    <font color="white">Repayment Options</font>
    </h3>
    </div>
  </Br>
    <div class="boxed" style="text-align: center; width:280px;">

    <h1 class="heading-small" >Total Amount Owed :: £580</h1>
  </div>
  </div>
  </Br>
    <div>
      <table border="1">
          <thead>
            <tr>
              <th scope="col">Min Payment</th>
              <th class="numeric" scope="col">12 Months</th>
              <th class="numeric" scope="col">Pay in Full</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>£3 per month for 127 months</td>
              <td class="numeric">£33 per month,</Br> Choose payment day</td>
              <td class="numeric">£700 one off</td>
            </tr>
            <tr>
              <td class="numeric"><a>make Payment</a></td>
              <td class="numeric">06-11-2015</td>
              <td class="numeric">340</td>
            </tr>
            <tr>
              <td>Benefit Overpayment, Job Seekers Allowance</td>
              <td class="numeric">06-11-2015</td>
              <td class="numeric">250</td>
            </tr>

          </tbody>
        </table>

    </div>
    <div>
    </Br>
    </Br>

    </div>
  </Br>
  <div>
    <div class="grid-row">
      <div class="column-two-thirds">
  </Br>
  <div class="boxedGreen" style="text-align: center; width:1000px;">

  <h3 class="heading-large">
  <font color="white">Entitlements</font>
  </h3>
  </div>
  <table align="center" width:1000px;>
<thead>
  <tr>
    <th scope="col">Date</th>
    <th class="numeric" scope="col">Paper form</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td>Benefit Entitlement</td>
    <td class="numeric">JSA</td>
  </tr>
  <tr>
    <td>Benefit Award</td>
    <td class="numeric">£500</td>
  </tr>
  <tr>
   <td>Pay Day</td>
    <td class="numeric">Monday</td>
  </tr>
  <tr>
   <td>Frequency</td>
    <td class="numeric">2 Weeks</td>
  </tr>
</tbody>
</table>
  <div>
</Br>
    </div>
  </div>
</main>

{% endblock %}
