{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<style>
.boxed {
  border: 2px solid black;
}
.boxedGreen {
  border: 2px solid black;background-color: #23A363;"
}
</style>

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
</Br>
<div class="boxedGreen" style="text-align: center; width:1000px;">

<h3 class="heading-large">
<font color="white">Citizen Information</font>
</h3>
</div>
</Br>

</div>

    </div>
    <div>
    <H1 class="heading-large">All Citizen Information</H1>

</Br>
<ul class="list list-bullet">
  <li>Name:  Joe Bloggs</li>
  <li>Address line 1, </Br>Address line 2, </Br>Address line 3, </Br>Postcode</li>
  <li>Phone No:</li>
  <li>Email:  </li>
</ul>
</Br>
</Br>
</Br>
<h3><a href="DebtDetail">Debt Detail</a></h3>
    </div>

</main>

{% endblock %}
