{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<style>
.boxed {
  border: 2px solid black;
}
.boxedGreen {
  border: 2px solid black;background-color: #23A363;"
}
</style>

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
</Br>
<div class="boxedGreen" style="text-align: center; width:1000px;">

<h3 class="heading-large">
<font color="white">Entitlements</font>
</h3>
</div>
</Br>

</div>

    </div>
    <div>
    <H1 class="heading-large">Debt Detail</H1>
      <table border="1">
      </tbody>
          <thead>
            <tr>
              <th>
                Breakdown
              </th>
                <th> </th>
              <th>
                From
              </th>

              <th>
                To
              </th>

            </tr>
            <tr><td>Social Fund</td>
<td>£ 500</td>
<td>12/12/2014</td>
<td>06/06/2016</td>
            </tr>
            <tr><td>JSA</td>
<td>£ 200</td>
<td>01/04/2015</td>
<td>08/03/2016</td>
            </tr>
            <tr></tr>
            <tr></tr>
          </tbody>
        </table>

</Br>
</Br>
</Br>
</Br>
</Br>
    </div>
    <div>
      <table border="1">
          <thead>
            <tr>
              <th scope="col">Min Payment</th>
              <th class="numeric" scope="col">12 Months</th>
              <th class="numeric" scope="col">Pay in Full</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>£3 per month for 127 months</td>
              <td class="numeric">£33 per month,</Br> Choose payment day</td>
              <td class="numeric">£700 one off</td>
            </tr>
            <tr>
              <td class="numeric"><a>make Payment</a></td>
              <td class="numeric">06-11-2015</td>
              <td class="numeric">340</td>
            </tr>
            <tr>
              <td>Benefit Overpayment, Job Seekers Allowance</td>
              <td class="numeric">06-11-2015</td>
              <td class="numeric">250</td>
            </tr>

          </tbody>
        </table>
    </div>
    <div>
    </Br>
    </Br>
    <div class="transaction">
    					<p class="get-started group">
    	          <a class="button" href="#">Pay in full</a>
    	          <a class="button" href="#">Make a part payment</a>
    	        </p>

    	      </div>
    </div>
  </Br>
  <div class="boxed">

<h2 class="heading-medium">Next Steps</h2>
  </div>

    </div>
  </div>
</main>

{% endblock %}
