{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}
<style>
.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
</style>
<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
</br>
</br>
</br>
    <h1>hackdayImages</h1>
    </br>
    <P>AgentUI</>
    </br>
    <img src="/public/images/agentUI.jpg" alt="SAgent UI" height="442" width="442" class="rotate90">
    <P>citizen UI</>
    </br>
    <img src="/public/images/citizenview.jpg" alt="citizen View" height="442" width="442">
    </div>
  </div>
</main>

{% endblock %}
