{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">Digital Debt Management</h1>
<h3><a href="viewdebt"> View Debt</a><h3>
  <h3><a href="page2">Page 2</a></h3>
  <h3><a href="payment">Payment</a></h3>



      <h2 class="heading-medium">About this page</h2>
      <p> Quick overview of the services this application support</p>

      <p></p>
      <p></p>



    </div>
  </div>
</main>

{% endblock %}
