{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">Digital Debt Management</h1>
<h3><a href="onbenefit">On Benefit</a><h3>
  <h3><a href="offbenefit">Off Benefit</a><h3>
  <h3><a href="setUpDetails">Set Up Details</a></h3>




      
      <p> Quick overview of the services this application support</p>

      <p></p>
      <p></p>



    </div>
  </div>
</main>

{% endblock %}
