{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">Digital Debt Management</h1>
<h3><a href="viewdebt"> View Debt</a><h3>
  <h3><a href="setUpDetails">Set Up Details</a></h3>
  <h3><a href="payment">Payment</a></h3>
  <a href="hackdayimages">Hack Day</a>



      <h2 class="heading-medium">Images from the hack day/h2>
      <p> Quick overview of the services this application support</p>
      <img src="/agentUI.jpg" alt="AgentUI" height="80" width="80">

      <p></p>
      <p></p>



    </div>
  </div>
</main>

{% endblock %}
