{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}
<style>
.boxed {
  border: 2px solid black;
}
.boxedGreen {
  border: 2px solid black;background-color: #23A363;"
}
</style>
<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

<div>


  <div>
  </Br>
  <div class="boxedGreen" style="text-align: left; width:800px;">
  </Br>
<h3 class="heading-medium">
<font color="white">Your monthly benefit payment amount for June 2016 will be £560</font>
</h3>

</Br>

</div>
  </div>
  </Br>
    <h3 class="heading-medium">Why is my benefit payment lower then usual?</h3>

    <table border="1">
    </tbody>
        <thead>
          <tr>
            <th>
              Benefit
            </th>
              <th> </th>
            <th>
              From
            </th>

            <th>
              To
            </th>

          </tr>
          <tr><td>JSA</td>
  <td>£ 500</td>
  <td>12/12/2014</td>
  <td>06/06/2016</td>
          </tr>
          <tr><td>Repayment amount</td>
  <td>£ 20</td>
  <td>01/04/2015</td>
  <td>08/03/2016</td>
          </tr>
          <tr><td>Total Benefit Payment</td><td>£480</td><td> </td><td> </td></tr>
          <tr></tr>
        </tbody>
      </table>

</Br>
</Br>
<p>From Overpayment of JSA </P>
</P>June 2015 - May 2016</P>
    </div>

    </div>
  </div>
  <div class="boxed"  style="text-align: left; width:800px;">

<h3 class="heading-medium">Next Steps</h3>
At the current rate of deduction repayment would be be paid by June 2017
</Br> Blah Blah
</Br> Blah Blah
</Br> Blah Blah
  </div>
</main>

{% endblock %}
