{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}
<style>
.boxed {
  border: 1px solid black;
}
</style>

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
    </br>
        <h2 class="heading-medium">Total Debt Amount :: £500</h2>

  <form>
    <div class="boxed">
    <fieldset>
    <h2 class="heading-medium">&nbspChoose Payment Period</h2>

      <label class="block-label" for="radio-1">

        <input id="radio-1" type="radio" name="radio-group" value="Debit Card">
        Weekly
      </label>
      <label class="block-label" for="radio-2">
        <input id="radio-2" type="radio" name="radio-group" value="credit Card">
        Monthly
      </label>
    </Br>
</div>

    </fieldset>
    </Br>
    </Br>

    <label class="form-label" for="ni-number">
      <h3 class="heading-small">Enter Repayment Amount</h3>
       <span class="form-hint">Enter the amount you wish to pay each period::</span>
     </label>
    £ <input class="form-control" id="amount" type="text">
  </form>

</br>

    </br>

    <form>

    </form>
    <r>
    <div class="boxed">
    </Br>
    <ol class="list list-number">
    <li>Debt will be repaid in June 2027</li>

  </ol>
</div>
</Br>
<div>
<h3 class="heading-small">Choose Payment Type</h3>
<select class="form-control">
  <option value="volvo">Debit Card</option>
  <option value="saab">Credit Card</option>

</select>
</div>
    </div>
  </div>
</Br>
</Br>
  <a class="button button-start" href="paymentPlan" role="button">View Payment Plan</a>
</main>

{% endblock %}
