{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

    <h1>view debt page</h1>
<div>

  <h1>Debt History</h1>
  <table>
      <thead>
        <tr>
          <th scope="col">Debt reason</th>
          <th class="numeric" scope="col">Date Accrued</th>
          <th class="numeric" scope="col">Amount £</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Social Loan</td>
          <td class="numeric">12th December 2013</td>
          <td class="numeric">1,792</td>
        </tr>
        <tr>
          <td>2 to 8 December 2013</td>
          <td class="numeric">2,850</td>
          <td class="numeric">1,740</td>
        </tr>
        <tr>
         <td>9 to 15 December 2013</td>
          <td class="numeric">2,388</td>
          <td class="numeric">1,683</td>
        </tr>
      </tbody>
    </table>
    <h2 class="heading-medium">Next Action to Take</h2>
    <p><h1>qazqaz</h1></P>
    </div>

    </div>
  </div>
</main>

{% endblock %}
