{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

    <h2 class="heading-small">Debt History</h2>
<div>


  <table border="1">
      <thead>
        <tr>
          <th scope="col">Debt reason</th>
          <th class="numeric" scope="col">Date Accrued</th>
          <th class="numeric" scope="col">Amount £</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Social Loan</td>
          <td class="numeric">12-12-2013</td>
          <td class="numeric">1,700</td>
        </tr>
        <tr>
          <td>Benefit Overpayment, Income Support</td>
          <td class="numeric">06-11-2015</td>
          <td class="numeric">340</td>
        </tr>
        <tr>
          <td>Benefit Overpayment, Job Seekers Allowance</td>
          <td class="numeric">06-11-2015</td>
          <td class="numeric">250</td>
        </tr>
        <!--
        <tr>
         <td>9 to 15 December 2013</td>
          <td class="numeric">2,388</td>
          <td class="numeric">1,683</td>
        </tr>
      -->
      </tbody>
    </table>
    <h2 class="heading-small">Next Action to Take</h2>
    <p><h1>Use reference number from Letter</h1></P>
      <a class="button button-start" href="payment" role="button">Proceed to Make Payment</a>
    </div>

    </div>
  </div>
</main>

{% endblock %}
